/** @format */

@import '../../../configs/theme/theme-variables.scss';

.input_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  gap: 8px;
  position: relative;
}

.input_label {
  color: #0c0c0c;
  font-family: Oxygen;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  text-align: left;
}

.input_text,
.input_text__error {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  background: #fff;
  padding: 21px 16px;
  box-sizing: border-box;
  position: relative;
  height: 100%;

  &:active,
  &:focus {
    border: 1px solid #008eff;
    background: #fff;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
    outline: none;
  }

  &::placeholder {
    position: absolute;
    top: 20px;
    color: #abaaaa;
    font-family: Oxygen;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.input_text__error {
  border: 1px solid red;

  &:active,
  &:focus {
    border: 1px solid red;
  }
}

.input__error {
  border: 1px solid red;
  &:active,
  &:focus {
    border: 1px solid red;
  }
  &_message {
    position: absolute;
    bottom: -25px;
    color: red;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .input_text,
  .input_text__error {
    height: 54px;
    padding: 14px;
    &::placeholder {
      top: 15px;
    }
  }

  .input_label {
    font-size: 14px;
    font-weight: 700;
  }
}
