/** @format */

@import '../../../configs/theme/theme-variables.scss';

@mixin Input {
  width: 341px;
  height: 61px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  background: $white;
  margin-bottom: 17px;
  padding-left: 34px;
  box-sizing: border-box;
  color: #0C0C0C;


  &:focus {
    border: 1px solid #8ac0ff;
    outline: none;
    color: #0C0C0C;
    background: $white;


  }

  &:active {
    border: 1px solid #8ac0ff;
    outline: none;
    color: #0C0C0C;
    background: $white;



  }
  &:hover {
    border: 1px solid #8ac0ff;
    outline: none;
    color: #0C0C0C;
    background: $white;



  }
}

.input_container {
  position: relative;
  color: #0C0C0C;

  & .input_icon {
    position: absolute;
    fill: #e6e6e6;
  }

  &__field {
    @include Input;


    &_error {
      @include Input;
      border: 1px solid #f44848;
    }
  }
}
