/** @format */

@import '../../../configs/theme/theme-variables.scss';

.right_side, .right_side__full  {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc(100% - 217px);
  height: 100vh;
  background: #f3f6fe;

  &__full {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #f3f6fe;
  }

  .header {
    background: $white;
    box-shadow: 0px 8px 28px 0px
      rgba(72, 89, 102, 0.1);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    .left_side {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: left;

      & .menu {
        margin-left: 40px;
        margin-right: 75px;
      }
    }
    &__right_side {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: right;
      height: 100%;

      .settings {
        width: 18px;
        height: 18px;
        margin-right: 77px;
      }
      .lang {
        width: 18px;
        height: 18px;
        margin-right: 25px;
      }
    }
  }

  .layout_body {
    background: #f3f6fe;
    width: 100%;
    height: calc(100% - 70px);
  }
}

.menu{
  cursor: pointer;
}
