/** @format */
@import '../../configs/theme/theme-variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Oxygen&display=swap');

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
