/** @format */
@import '../../configs/theme/theme-variables.scss';

.user_info {
  width: 100%;
  height: calc(100% - 125px);
  padding: 11px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
}
