/** @format */
@import '../../configs/theme/theme-variables.scss';
.looking {
  &__header {
    color: #000a12;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-bottom: 25px;
  }

  &__container {
    padding: 40.26px;
    box-sizing: border-box;
    width: max-content;
    height: max-content;
  }
}
